# Tuplas
* Listas inmutables
* No se pueden añadir nuevos elementos
* No se pueden aliminar elementos
* No se pueden modificar los elementos que contiene
* Las tuplas utilizan paréntesis

In [2]:
tupla = (4,"Hola",6.35,[1,2,3,5],9)

print(tupla)

(4, 'Hola', 6.35, [1, 2, 3, 5], 9)

In [3]:
tupla = (4,"Hola",6.35,[1,2,3,5],9)

print(tupla[0])

4

In [4]:
tupla = (4,"Hola",6.35,[1,2,3,5],9)

print(tupla[-3])

6.35

In [5]:
tupla = (4,"Hola",6.35,[1,2,3,5],9)

print(tupla[-1])

9

In [6]:
tupla = (4,"Hola",6.35,[1,2,3,5],9)

print(tupla[1:])

('Hola', 6.35, [1, 2, 3, 5], 9)

__Buscar en una tupla__

In [7]:
tupla = (4,"Hola",6.35,[1,2,3,5],9)

print(4 in tupla)

True

In [10]:
tupla = (4,"Hola",6.35,[1,2,3,5],9)

print(tupla.index("Hola"))

1

__Muestra el primer 4 que encuentra y ese corresponde al índice 0__

In [11]:
tupla = (4,"Hola",6.35,[1,2,3,5],9,4)

print(tupla.index(4))

0

__Busqueda con count__
* Encuentra el valor que se busca y sus coincidencias

In [12]:
tupla = (4,"Hola",6.35,[1,2,3,5],9,4)

print(tupla.count(4))

2

In [13]:
tupla = (4,"Hola",6.35,[1,2,3,5],9,4)

print(tupla.count(6.35))

1

__Con la función len nos dice cuantos elementos tiene la tupla__

In [15]:
tupla = (4,"Hola",6.35,[1,2,3,5],9,4)

print(len(tupla))

6

__Transformar TUPLAS en LISTAS y LISTAS en TUPLAS__
* Usamos la función __list__
* Usamos la función __tuple__

__De TUPLA a LISTA__

In [23]:
tupla = (4,"Hola",6.35,[1,2,3,5],9,4)
lista = (list(tupla))

print("Observe como es la relación de una tupla, va entre paréntesis:\n", tupla)
print("Observe como es la relación de una lista, va entre corchetes :\n",lista)

Observe como es la relación de una tupla, va entre paréntesis:
 (4, 'Hola', 6.35, [1, 2, 3, 5], 9, 4)
Observe como es la relación de una lista, va entre corchetes :
 [4, 'Hola', 6.35, [1, 2, 3, 5], 9, 4]

__De LISTA a TUPLA__

In [24]:
lista = [4,"Hola",6.35,[1,2,3,5],9,4]
tupla = (tuple(lista))

print("Observe como es la relación de una lista, va entre corchete:\n", lista)
print("Observe como es la relación de una tupla, va entre paréntesis :\n",tupla)

Observe como es la relación de una lista, va entre corchete:
 [4, 'Hola', 6.35, [1, 2, 3, 5], 9, 4]
Observe como es la relación de una tupla, va entre paréntesis :
 (4, 'Hola', 6.35, [1, 2, 3, 5], 9, 4)

In [25]:
tupla = (2,3,"práctica",1,4,2,["a,b,c",],5,7,6,2)

# de TUPLA a LISTA

lista = (list(tupla))

print(lista)

lista = [2, 3, 'práctica', 1, 4, 2, ['a,b,c'], 5, 7, 6, 2]
# DE LISTA a TUPLA

tupla = (tuple(lista))

print(tupla)

[2, 3, 'práctica', 1, 4, 2, ['a,b,c'], 5, 7, 6, 2]
(2, 3, 'práctica', 1, 4, 2, ['a,b,c'], 5, 7, 6, 2)

*Zeev