## Cadenas
Una cadena es una secuencia inmutable de caracteres Unicode, delimitada por comillas. Las __comillas simples y dobles__: Las cadenas de texto se pueden delimitar con comillas simples (') o con comillas dobles ("). En Python las comillas dobles y simples son completamente equivalentes, pero en otros lenguajes de programación no. Las cedenas deben de cerrar con las mismas comillas, con las que abrieron, de lo contrario marcará un error de Syntaxis.
- como escribir una cadena entre comillas: print('Shalom "Zeev"')

In [7]:
print('Shalom "Zeev"')

Shalom "Zeev"

__Entre comillas con un salto de línea:__
- print ("Shalom \"Zeev\"\n")

In [11]:
print ("Shalom \"Zeev\"\n")

Shalom "Zeev"

__Otra forma:__
- print ('shalom "Zeev"\n')

In [12]:
print ('shalom "Zeev"\n')

shalom "Zeev"

__Otra forma:__
- print('shalom! \"Zeev\"')

In [10]:
print('shalom! \"Zeev\"')

shalom! "Zeev"

__Uso de caracter de escape \ (diagonal invertida):__
- print('I\'m zeev')
- print ("I'm zeev")
- print ("I'm \"zeev\"\n")

In [13]:
print('I\'m zeev')

I'm zeev

In [14]:
print ("I'm zeev")

I'm zeev

In [15]:
print ("I'm \"zeev\"\n")

I'm "zeev"

### Comillas triples.
Las comillas triples permiten que las cadenas ocupen más de una línea:

In [46]:
print("""Esta es una cadena
que ocupa
varias líneas""")

Esta es una cadena
que ocupa
varias líneas

### Comillas dentro de comillas.
Se pueden escribir comillas simples en cadenas delimitadas con comillas dobles y viceversa.

In [47]:
print('Las comillas simples delimitan cadenas')
print("Las comillas dobles delimitan cadenas")

Las comillas simples delimitan cadenas
Las comillas dobles delimitan cadenas

Otra forma de escribir comillas en una cadena es utilizar los caracteres especiales \" y \' que representan los caracteres comillas dobles y simples respectivamente y que Python no interpreta en ningún caso como delimitadores de cadena:

In [48]:
print('Las comillas simples \' delimitan cadenas')

Las comillas simples ' delimitan cadenas

In [49]:
print("Las comillas dobles \" delimitan cadenas")

Las comillas dobles " delimitan cadenas

Se pueden utilizar ambos caracteres especiales independientemente del delimitador utilizado:

In [ ]:
print('Las comillas simples \' y las comillas dobles \" delimitan cadenas.')

In [ ]:
print("Las comillas simples \' y las comillas dobles \" delimitan cadenas.")

### Caracteres especiales

Escribe una sola línea de código, utilizando la función print(), así como los caracteres de nueva línea y escape, para obtener la salida esperada de tres líneas.
- print('"Estoy"')
- print('""Aprendiendo""')
- print('"""Python"""')

In [17]:
print('"Estoy"')
print('""Aprendiendo""')
print('"""Python"""')

"Estoy"
""Aprendiendo""
"""Python"""

Ahora, en una sola línea usando caracter de escape:
- print(' "Estoy"\n' , ' ""Aprendiendo""\n' , ' """Python"""\n')

In [20]:
print('  "Estoy"\n' , ' ""Aprendiendo""\n' , ' """Python"""\n')

  "Estoy"
  ""Aprendiendo""
  """Python"""

### Tabulador

In [50]:
print("1\t2\t3\t4")

1	2	3	4

### Cadenas largas.
Las líneas de código no deben contener más de 79 caracteres, para facilitar la legibilidad. Si un programa contiene cadenas muy largas, se pueden partir en varias cadenas.

In [51]:
print("Esta línea está cortada en dos líneas de menos de 79 caracteres "
     "partiendo la cadena en dos")

Esta línea está cortada en dos líneas de menos de 79 caracteres partiendo la cadena en dos

### En los programas que hay bloques:

In [55]:
for i in range(3):
    print("a b c "
          "d e f ")

a b c d e f
a b c d e f
a b c d e f

### Formatear cadenas

In [22]:
edad = input("Escribe tu edad: ")
print(type(edad))
edad = int(edad)
print(type(edad))
edad2 = 1 + edad
print(edad2)
print("¡qué jóven!")

Escribe tu edad: 59
<class 'str'>
<class 'int'>
60
¡qué jóven!

#### VAMOS A FORMATEAR CADENAS
- Para ello vamos a utilizar la función "format"
- EJEMPLO: print("Mi auto es {} y matrícula {}.format(color_auto, matrícula"))
- Cadenas literales. Ejemplo: print(f"Mi auto es {color_auto} y placas {matrícula}")

__EJEMPLO: de forma larga:__
- print('print("Mis números son: {0} y ".format(str(x)) + str(y)")')

In [29]:
x = 10
y = 5
print("Mis números son: {0} y ".format(str(x)) + str(y))

Mis números son: 10 y 5

__Simplificado__

In [32]:
print("Mis números son: {} y {}" .format(x,y))

Mis números son: 10 y 5

__Ahora lo hacemos realizando una operación__

In [33]:
x = 100
y = 10
print("Mis números son: {} y {}" .format(x,y))

Mis números son: 100 y 10

__sumando x + y__

In [34]:
x = 100
y = 10
print("A {} + {} da {}".format(x,y,x+y))

A 100 + 10 da 110

__Multiplicando x * y__

In [35]:
x = 100
y = 10
print("A {} multiplicado por {} da {}" .format(x,y,x*y))

A 100 multiplicado por 10 da 1000

__Dividiendo x / y__

In [37]:
x = 100
y = 10
print("A {} dividido por {} da {}" .format(x,y,x/y))

A 100 dividido por 10 da 10.0

__División sin decimales se utiliza "//" x // y__

In [36]:
x = 100
y = 10
print("A {} dividido por {} da {}" .format(x,y,x//y))

A 100 dividido por 10 da 10

__Resta x - y__

In [38]:
x = 100
y = 10
print("A {} restado por {} da {}" .format(x,y,x-y))

A 100 restado por 10 da 90

__Número elevado a una potencia x ** 3__

In [39]:
x = 100
y = 10
print("A {} elevado a la potencia 3 da {}" .format(x,x**3))

A 100 elevado a la potencia 3 da 1000000

__Número elevado a una potencia y ** 3__

In [40]:
x = 100
y = 10
print("A {} elevado a la potencia 3 da {}" .format(y,y**3))

A 10 elevado a la potencia 3 da 1000

__Para obtener los decimales se ocupa % : y % x__

In [41]:
x = 100
y = 10
print("A {} aplicado el % de {} da {}" .format(x,y,y%x))

A 100 aplicado el % de 10 da 10

__Otra forma CADENA LITERAL__

In [45]:
y = 10
print(f"{y} a la potencia 5 da {y**5}")

10 a la potencia 5 da 100000

In [43]:
color = "rojo"
matrícula = 470848
print(f"Auto color {color} con placas {matrícula}")

Auto color rojo con placas 470848

#### Autor
zeev